.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.my-bets-container {
  flex-basis: 30%;
  border: 2px solid #0b0000;
  padding: 20px;
}

.signup-container {
  border: 2px solid #050000;
  border-style: groove;
  box-sizing: border-box;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.info-board-container {
  flex-basis: 30%;
  border: 2px solid #080000;
  padding: 20px;
}


.signup-btn {
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.signup-btn:hover {
  background-color: #2980b9;
}