.nav-bar {
    background-color: rgb(7, 0, 0);
    height: 90px; /* reduce the height of the navbar */
    width: 100%; /* make the width of the navbar 100% of the page */
    position: fixed; /* make the navbar fixed so that it stays on top */
    top: 0;
    z-index: 3;
}

.nav-bar .logo {
    display: none; /* hide the logo for now */
}

nav {
    display: block;
    text-align: center;
    position: relative; /* change the position to relative */
    margin: 0 auto; /* center the navbar horizontally */
    max-width: 960px; /* add a max-width to the navbar */
}

nav a {
    font-size: 22px;
    color: #4d4d4e;
    display: inline-block; /* change display to inline-block */
    line-height: 90px; /* change line-height to match the height of the navbar */
    padding: 0 20px; 
    position: relative;
    left: 600px;
}

nav a i {
    transition: none;
}

nav a:hover {
    color: rgb(221, 221, 212);
}

nav a:hover svg {
    opacity: 0;
}

nav a:hover:after {
    opacity: 1;
}

nav a:after {
    content: ' ';
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-out;
}

nav a:first-child:after {
    content: 'HOME';
}

nav a.check-link:after {
    content: 'Logout';
}

nav a.contact-link:after {
    content: 'Predictor Picker';
}